name: CI

on:
  push:

jobs:
  setup:
    uses: ./.github/workflows/setup-pnpm-security.yml

  check:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"

      - name: Enable Corepack
        run: corepack enable

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          package-json-path: "./package.json"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run code check
        run: pnpm check

      - name: Run build
        run: pnpm build
